body{
  font-family:'Avenir';
}
.container-fluid {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 90%;
    overflow-y: auto;
}

/* Map Customization */
.map-gic {
  height: 100%;
  width: 80%;
  float: right;
}

/* Modal Customization */
.modal-content{
  width: 125%;
  left: 3%;
  height:90%;
}

/* Nav Bar Styles */
.navbar h3 {
  text-align: center;
}

.planList {
  margin-top: 10px;
  overflow: auto;
}

.planItem {
  padding-top:10px;
  padding-bottom: 10px;
  overflow: auto;
}

.planItem:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.planIcon {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.planItemName {
  float: left;
  margin-top: 8px;
  width: 120px;
}

.planItemPrice {
  float: left;
  width: 50px;
  margin-top: 3px;
  font-size: 20px;
  color: green;
}

.social-sharing {
  margin-top: 10px;
}

.social-sharing button {
  float: left;
  margin-left: 10px;
}


/* In-Modal Styles */
.instagram-img {
  width: 100%;
  float: left;
  padding: 1%;
  cursor: pointer;
}

.experience-cost {
  text-align: center;
}

.img-box {
  overflow:auto;
  float:left;
  margin-right: 1.5%;
  width: 31%;
  box-shadow: 10px 10px 5px gray;
  margin-bottom: 15px;
}

#instagram-images {
  margin: auto;
  overflow:auto;
  display: block;
}

/* Activity Styles in Modal*/
.activities-area {
  padding: 10px;
  overflow: auto;
}
}

.activity {
  overflow:auto;
}

.activityTitle {
  float: left;
  font-size: 14px;
  margin-right: 20px;
}

.activityImg img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 30px;
}

.activityButton {
  float: left;
}
.xolaImage{
  max-width:200px;
  max-height:200px;
}
.list-group-item{
  font-size:25px;
}
.modal-header{
  background-color:#f6eded;
}
.logoFont{
  color:#fff;
}